html {
  font-size: 62.5%;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  font-size: 1.6rem;
  position: relative; }

#root {
  max-width: 1200px;
  margin: 40px auto; }

.App {
  text-align: left; }

.App-header {
  text-align: center; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%; }

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px; }

tr:nth-child(even) {
  background-color: #dddddd; }

#formation-pitch {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background: url("./images/pitch-bg.png"); }
  @media all and (max-width: 768px) {
    #formation-pitch {
      padding: 0; }
      #formation-pitch .formation-row {
        padding: 0;
        font-size: 1.4rem;
        padding: 10px; }
      #formation-pitch .player-item:before {
        top: -17px;
        width: 30px;
        height: 30px;
        margin-left: -15px; } }
  @media all and (max-width: 540px) {
    #formation-pitch .formation-item {
      margin: 5px;
      padding: 10px; }
    #formation-pitch .player-item:before {
      top: -14px;
      width: 20px;
      height: 20px;
      margin-left: -10px; } }
  @media all and (max-width: 440px) {
    #formation-pitch .formation-item {
      margin: 2px;
      padding: 5px;
      font-size: 1.1rem; } }

.formation-container {
  margin-top: 40px; }

.formation-row {
  display: flex;
  padding: 20px;
  width: 110%; }
  .formation-row .formation-item {
    margin: 10px;
    padding: 20px;
    color: #fff; }
  .formation-row .player-item {
    background: #004080;
    position: relative;
    padding-left: 30px; }
    .formation-row .player-item:before {
      position: absolute;
      top: -30px;
      left: 50%;
      margin-left: -20px;
      content: "";
      display: block;
      background: url("./images/player-shirt.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 40px;
      height: 40px; }
  .formation-row .empty-item {
    background: #009100; }

.formation-442 .formation-row .player-item:nth-child(1) {
  width: 20%; }

.formation-442 .formation-row .player-item:nth-child(2) {
  width: 45%; }

.formation-442 .formation-row .player-item:nth-child(3) {
  width: 15%; }

.formation-442 .formation-row .player-item:nth-child(4) {
  width: 20%; }

.formation-442 .formation-row:nth-child(1) .empty-item {
  width: 20%; }

.formation-442 .formation-row:nth-child(1) .player-item {
  width: 60%; }

.formation-442 .formation-row:nth-child(4) .empty-item {
  width: 20%; }

.formation-4411 .formation-row .formation-item {
  width: 35%; }
  .formation-4411 .formation-row .formation-item:nth-child(1) {
    width: 30%; }

.formation-4411 .formation-row:nth-child(2) .formation-item:nth-child(2), .formation-4411 .formation-row:nth-child(2) .formation-item:nth-child(3), .formation-4411 .formation-row:nth-child(3) .formation-item:nth-child(2), .formation-4411 .formation-row:nth-child(3) .formation-item:nth-child(3) {
  width: 17.5%; }

.formation-3421 .formation-row .formation-item:nth-child(1) {
  width: 20%; }

.formation-3421 .formation-row .formation-item:last-child {
  width: 20%; }

.formation-3421 .formation-row:nth-child(1) .formation-item:nth-child(2) {
  width: 60%; }

.formation-3421 .formation-row:nth-child(2) .formation-item:nth-child(2), .formation-3421 .formation-row:nth-child(2) .formation-item:nth-child(3) {
  width: 17.5%; }

.formation-3421 .formation-row:nth-child(2) .formation-item:nth-child(4) {
  width: 25%; }

.formation-3421 .formation-row:nth-child(3) .formation-item:nth-child(2) {
  width: 17.5%; }

.formation-3421 .formation-row:nth-child(3) .formation-item:nth-child(3) {
  width: 42.5%; }

.formation-3421 .formation-row:nth-child(4) .formation-item:nth-child(2) {
  width: 35%; }

.formation-3421 .formation-row:nth-child(4) .formation-item:nth-child(3) {
  width: 25%; }

.formation-3421 .formation-row:nth-child(5) .formation-item:first-child {
  width: 37.5%; }

.formation-3421 .formation-row:nth-child(5) .formation-item:last-child {
  width: 45%; }

.formation-3421 .formation-row:nth-child(5) .formation-item:nth-child(2) {
  width: 17.5%; }
